{% extends '_base.html' %}

{% block content %}

  <header class="content-header">
    <h1>Clients</h1>
    <p class="add-link"><a href="{{ url_for('client.create_client') }}">Add Client</a></p>
  </header>

  <br>

  {% if clients %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Client ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Company</th>
          <th>Email Address</th>
          <th>Date Created</th>
          <th>Actions</th>
        <tr>
      </thead>
      <tbody>
        {% for client in clients %}
          <tr>
            <th>{{ client.id }}</th>
            <th>{{ client.first_name }}</th>
            <th>{{ client.last_name }}</th>
            <th>{{ client.company }}</th>
            <th><a href="mailto:{{ client.email }}" target="_top">{{ client.email }}</a></th>
            <th>{{ client.date_created.strftime('%m-%d-%Y') }}</th>
            <th>
              <a href="{{ url_for('client.view_client', client_id = client.id) }}">View</a> |
              <a href="{{ url_for('client.edit_client', client_id = client.id) }}">Edit</a> |
              <a href="{{ url_for('client.delete_client', client_id = client.id) }}">Delete</a>
            </th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You haven't created any clients yet.</p>
  {% endif %}

{% endblock content %}