{% extends '_base.html' %}

{% block content %}

  <header class="content-header">
    <h1>Clients</h1>
    <p class="add-link"><a href="{{ url_for('client.create_client') }}">Add Client</a></p>
  </header>

  <br>

  {% if clients %}
    {{clients}}
    <ul>
      {% for client in clients %}
        <li>
          <p>
            <a href="{{ url_for('client.view_client', client_id = client.id) }}">View</a> |
            <a href="{{ url_for('client.edit_client', client_id = client.id) }}">Edit</a> |
            <a href="{{ url_for('client.delete_client', client_id = client.id) }}">Delete</a>
          </p>
          <h3>{{ client.name }} // <em>{{ client.company }}</em></h3>
          <h4>{{ client.email }} // {{ client.country }}</h4>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You haven't created any clients yet.</p>
  {% endif %}

{% endblock %}