{% extends '_base.html' %}

{% block content %}

  <header class="content-header">
    <h1>Clients / <em>{{ client.company }}</em></h1>
  </header>

  <br>

  <div class="col-lg-3 col-sm-3">

    <h3>Contact</h3>
    <hr>
    <p>
      <strong>{{ client.first_name }} {{client.last_name}}</strong><br>
      {{ client.email }}<br>
      {{ client.telephone }}
    </p>

  </div>

  <div class="col-lg-3 col-sm-3">

    <h3>Organization</h3>
    <hr>
    <p>
      <a href="{{ client.website }}">{{ client.company }}</a><br>
      {{ client.street }}<br>
      {{ client.city }}, {{ client.state }} {{ client.postal_code }}</li>
    </p>

  </div>

  <div class="col-lg-4 col-sm-4">

    <h3>Invoices</h3>
    <hr>
    {% if invoices %}
      <table class="table">
        <thead>
          <tr>
            <th>Invoice #</th>
            <th>Paid</th>
            <th>Total Price</th>
          <tr>
        </thead>
        <tbody>
          {% for invoice in invoices %}
            <tr>
              <th><a href="{{ url_for('invoice.view_invoice', invoice_id = invoice.id) }}">{{ invoice.invoice_number }}</a></th>
              <th>{{ invoice.paid }}</th>
              <th>${{ '{0:0.2f}'.format(invoice.total_price) }}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>You haven't created any invoices for this client yet.</p>
    {% endif %}

  </div>

{% endblock content %}