{% extends 'base.html' %}
{% block content %}
	<header class="content-header">
		<h1>Projects</h1>
		<p class="add-link"><a href="{{ url_for('create_project') }}">Add Project</a></p>
	</header>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class="flash-messages">
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	{% if projects %}
		<ul class="projects">
		{% for project in projects %}<li class="project">
			<p class="actions">
				<a href="{{ url_for('view_project', project_id = project.id) }}">View</a> |
				<a href="{{ url_for('edit_project', project_id = project.id) }}">Edit</a> |
				<a href="{{ url_for('delete_project', project_id = project.id) }}">Delete</a>
			</p>
			<h3>{{ project.name }}</h3>
			<h4>10 Mar 2013 – 10 Apr 2013</h4>
		</li>{% endfor %}
		</ul>
	{% else %}
		<p class="no-data">You haven't created any projects yet.</p>
	{% endif %}
{% endblock %}