<fieldset>
	<legend>Invoice Details</legend>
	<ol>
		<li>
			<label for="name">Invoice ID</label>
			<input name="name" value="{% if invoice %}{{ invoice.name }}{% endif %}">
		</li>
		<li>
			<label for="client">Client</label>
			<select name="client">
				{% for client in clients %}
					<option value="{{ client.id }}"{% if invoice and invoice.client.name == client.name %}selected="selected"{% endif %}>{{ client.name }}</option>
				{% endfor %}
			</select>
		</li>
		<li>
			<label for="project">Project</label>
			<select name="project">
				{% for project in projects %}
					<option value="{{ project.id }}"{% if invoice and invoice.project.name == project.name %}selected="selected"{% endif %}>{{ project.name }}</option>
				{% endfor %}
			</select>
		</li>
		<li>
			<label for="currency">Currency</label>
			<select name="currency">
				<option value="EUR"{% if invoice and invoice.currency == "EUR" %}selected="selected"{% endif %}>EUR</option>
				<option value="USD"{% if invoice and invoice.currency == "USD" %}selected="selected"{% endif %}>USD</option>
			</select>
		</li>
		<li>
			<label for="status">Status</label>
			<select name="status">
				<option value="Draft"{% if invoice and invoice.status == "Draft" %}selected="selected"{% endif %}>Draft</option>
				<option value="Sent"{% if invoice and invoice.status == "Sent" %}selected="selected"{% endif %}>Sent</option>
				<option value="Overdue"{% if invoice and invoice.status == "Overdue" %}selected="selected"{% endif %}>Overdue</option>
				<option value="Paid"{% if invoice and invoice.status == "Paid" %}selected="selected"{% endif %}>Paid</option>
			</select>
		</li>
	</ol>
</fieldset>
<fieldset>
	<legend>Invoice</legend>
	{% include 'invoices/_invoice.html' %}
</fieldset>
<fieldset>
	<legend>Internal Notes</legend>
	<textarea name="internal_notes" rows="10" cols="40">{% if invoice %}{{ invoice.internal_notes }}{% endif %}</textarea>
</fieldset>