{% extends "_base.html" %}

{% block content %}

<div class="jumbotron">

  <div class="row">
    <h1>Simple, Intuitive Invoicing.</h1>
  </div>

    <div class="row">
      <p class="col-md-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec erat turpis. Nulla facilisi. Maecenas luctus porttitor arcu, vitae lobortis turpis.</p>
      <p class="col-md-8"><a href="/" class="sign-up btn btn-success btn-lg">Sign Up Now for $15/month!</a></p>
    </div>

  <br>

  <h2>Why?</h2>

  <br>

  <div class="col-md-4">
    <img src="http://placehold.it/80x80">
    <h3>Save Time</h3>
    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec erat turpis. Nulla facilisi. Maecenas luctus porttitor arcu, vitae lobortis turpis. Mauris aliquet orci nec libero varius volutpat.</h5>
  </div>

  <div class="col-md-4">
    <img src="http://placehold.it/80x80">
    <h3>Get Paid</h3>
    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec erat turpis. Nulla facilisi. Maecenas luctus porttitor arcu, vitae lobortis turpis. Mauris aliquet orci nec libero varius volutpat.</h5>
  </div>

  <div class="col-md-4">
    <img src="http://placehold.it/80x80">
    <h3>Win Business</h3>
    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec erat turpis. Nulla facilisi. Maecenas luctus porttitor arcu, vitae lobortis turpis. Mauris aliquet orci nec libero varius volutpat.</h5>
  </div>

</div>

<br>

{% endblock %}