{% extends '_base.html' %}
{% block content %}
	<header class="content-header">
		<h1>Invoices</h1>
		<p class="add-link"><a href="{{ url_for('create_invoice') }}">Add Invoice</a></p>
	</header>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class="flash-messages">
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	{% if invoices %}
		<ul class="invoices">
		{% for invoice in invoices %}<li class="invoice">
			<p class="actions">
				<a href="{{ url_for('view_invoice', invoice_id = invoice.id) }}">View</a> |
				<a href="{{ url_for('edit_invoice', invoice_id = invoice.id) }}">Edit</a> |
				<a href="{{ url_for('delete_invoice', invoice_id = invoice.id) }}">Delete</a>
			</p>
			<h3>{{ invoice.name }} // <em>{{ invoice.project.name }}</em></h3>
			<h4>1000$</h4>
		</li>{% endfor %}
		</ul>
	{% else %}
		<p class="no-data">You haven't created any invoices yet.</p>
	{% endif %}
{% endblock %}