{% extends '_base.html' %}

{% block content %}

  <header class="content-header">
    <h1>Invoices</h1>
  </header>

  <br><br>

  <a href="{{ url_for('invoice.create_invoice') }}" class="btn btn-success btn-xs">Add Invoice</a>

  <br><br>

  {% if invoices %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Invoice ID</th>
          <th>Client</th>
          <th>Paid</th>
          <th>Created Date</th>
          <th>Due Date</th>
          <th>Total Price</th>
          <th>Actions</th>
        <tr>
      </thead>
      <tbody>
        {% for invoice in invoices %}
          <tr>
            <th>{{ invoice.id }}</th>
            <th>{{ invoice.client.company }}</th>
            <th>{{ invoice.paid }}</th>
            <th>{{ invoice.invoice_date.strftime('%m-%d-%Y') }}</th>
            <th>{{ invoice.due_date.strftime('%m-%d-%Y') }}</th>
            <th>${{ '{0:0.2f}'.format(invoice.total_price) }}</th>
            <th>
              <a href="{{ url_for('invoice.view_invoice', invoice_id = invoice.id) }}">View</a> |
              <a href="{{ url_for('invoice.edit_invoice', invoice_id = invoice.id) }}">Edit</a> |
              <a href="{{ url_for('invoice.delete_invoice', invoice_id = invoice.id) }}">Delete</a>
            </th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You haven't created any invoices yet.</p>
  {% endif %}

{% endblock content %}
