<fieldset>
	<legend>Client Details</legend>
	<ol>
		<li>
			<label for="name">Name</label>
			<input name="name" value="{% if client %}{{ client.name }}{% endif %}">
		</li>
		<li>
			<label for="company">Company</label>
			<input name="company" value="{% if client %}{{ client.company }}{% endif %}">
		</li>
		<li>
			<label for="website">Website</label>
			<input name="website" value="{% if client %}{{ client.website }}{% endif %}">
		</li>
	</ol>
</fieldset>
<fieldset>
	<legend>Client Contact</legend>
	<ol>
		<li>
			<label for="email">Email</label>
			<input name="email" value="{% if client %}{{ client.email }}{% endif %}">
		</li>
		<li>
			<label for="telephone">Telephone</label>
			<input name="telephone" value="{% if client %}{{ client.telephone }}{% endif %}">
		</li>
		<li>
			<label for="skype">Skype</label>
			<input name="skype" value="{% if client %}{{ client.skype }}{% endif %}">
		</li>
	</ol>
</fieldset>
<fieldset>
	<legend>Client Address</legend>
	<ol>
		<li>
			<label for="street">Street</label>
			<input name="street" value="{% if client %}{{ client.street }}{% endif %}">
			<input name="street_2" value="{% if client %}{{ client.street_2 }}{% endif %}">
		</li>
		<li>
			<label for="city">City</label>
			<input name="city" value="{% if client %}{{ client.city }}{% endif %}">
		</li>
		<li>
			<label for="state">County/State</label>
			<input name="state" value="{% if client %}{{ client.state }}{% endif %}">
		</li>
		<li>
			<label for="postcode">Postcode/Zip Code</label>
			<input name="postcode" value="{% if client %}{{ client.postcode }}{% endif %}">
		</li>
		<li>
			<label for="country">Country</label>
			<input name="country" value="{% if client %}{{ client.country }}{% endif %}">
		</li>
	</ol>
</fieldset>
<fieldset>
	<legend>Notes</legend>
	<textarea name="notes" rows="10" cols="40">{% if client %}{{ client.notes }}{% endif %}</textarea>
</fieldset>